shop/src/test/resources/datasets/db.dtd

<!ELEMENT dataset (
    ADRESSE*,
    ARTIKELGRUPPE*,
    ARTIKEL*,
    KUNDE*,
    BESTELLUNG*,
    BESTELLPOSITION*,
    LIEFERUNG*,
    BESTELLUNG_LIEFERUNG*)>

<!ELEMENT ADRESSE EMPTY>
<!ATTLIST ADRESSE
    A_ID CDATA #REQUIRED
    A_PLZ CDATA #REQUIRED
    A_ORT CDATA #REQUIRED
    A_STRASSE CDATA #IMPLIED
    A_HAUSNR CDATA #IMPLIED
    A_ERZEUGT CDATA #REQUIRED
    A_AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT ARTIKELGRUPPE EMPTY>
<!ATTLIST ARTIKELGRUPPE
    AG_ID CDATA #REQUIRED
    AG_NAME CDATA #REQUIRED
>

<!ELEMENT ARTIKEL EMPTY>
<!ATTLIST ARTIKEL
    A_ID CDATA #REQUIRED
    A_BEZEICHNUNG CDATA #REQUIRED
    A_PREIS CDATA #REQUIRED
    A_ERHAELTLICH CDATA #IMPLIED
    A_ERZEUGT CDATA #REQUIRED
    A_AKTUALISIERT CDATA #REQUIRED
    A_ARTIKELGRUPPE_FK CDATA #REQUIRED
    A_IDX CDATA #REQUIRED
>

<!ELEMENT KUNDE EMPTY>
<!ATTLIST KUNDE
    K_ID CDATA #REQUIRED
    K_NACHNAME CDATA #REQUIRED
    K_VORNAME CDATA #REQUIRED
    K_SEIT CDATA #IMPLIED
    K_ART CDATA #IMPLIED
    K_FAMILIENSTAND CDATA #IMPLIED
    K_GESCHLECHT CDATA #IMPLIED
    K_RABATT CDATA #IMPLIED
    K_UMSATZ CDATA #IMPLIED
    K_EMAIL CDATA #REQUIRED
    K_NEWSLETTER CDATA #IMPLIED
    K_PASSWORT CDATA #REQUIRED
    K_ERZEUGT CDATA #REQUIRED
    K_AKTUALISIERT CDATA #REQUIRED
    K_ADRESSE_FK CDATA #REQUIRED
>

<!ELEMENT BESTELLUNG EMPTY>
<!ATTLIST BESTELLUNG
    B_ID CDATA #REQUIRED
    B_KUNDE_FK CDATA #IMPLIED
    B_IDX CDATA #REQUIRED
    B_ERZEUGT CDATA #REQUIRED
    B_AKTUALISIERT CDATA #REQUIRED
    B_OFFENABGESCHLOSSEN CDATA #REQUIRED
>

<!ELEMENT BESTELLPOSITION EMPTY>
<!ATTLIST BESTELLPOSITION
    BP_ID CDATA #REQUIRED
    BP_BESTELLUNG_FK CDATA #REQUIRED
    BP_ARTIKEL_FK CDATA #REQUIRED
    BP_ANZAHL CDATA #REQUIRED
    BP_IDX CDATA #REQUIRED
>

<!ELEMENT LIEFERUNG EMPTY>
<!ATTLIST LIEFERUNG
    L_ID CDATA #REQUIRED
    L_LIEFERNR CDATA #REQUIRED
    L_TRANSPORT_ART CDATA #IMPLIED
    L_INLANDODERAUSLAND CDATA #IMPLIED
    L_ERZEUGT CDATA #REQUIRED
    L_AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLUNG_LIEFERUNG EMPTY>
<!ATTLIST BESTELLUNG_LIEFERUNG
    BL_BESTELLUNG_FK CDATA #REQUIRED
    BL_LIEFERUNG_FK CDATA #REQUIRED
>

